.flex-wraper {
  display: flex;
  position: absolute;
  left: 0;
  transition: ease-in-out 0.5s;
}

.table-of-content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 300px;
  height: 100vh;
  background-color: blue;
  opacity: 0.5;
}

.left-hiden {
  position: absolute;
  left: -300px;
}

.table-displayer {
  width: 32px;
  height: 100vh;
  background-color: grey;
  opacity: 0.5;
}

.table-of-content::-webkit-scrollbar {
  display: none;
}
