@font-face {
  font-family: "StarJedi";
  src: url("./fonts/StarJedi-DGRW.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 32px;
  background-color: beige;
  text-align: center;
  height: 128px;
  font-family: "StarJedi";
}

header h1 {
  text-transform: uppercase;
}

main {
  display: flex;
}

/*
                    ============
                    Media Quires
                    ============ 
 */

@media only screen and (max-width: 500px) {
  header {
    height: auto;
    padding: 24px;
    padding-left: 56px;
  }
  header h1,
  header h2 {
    font-size: small;
    margin: 8px 0;
  }
}
